.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}