/* 
    Project    : sTimeline
    Author     : Sascha Mander
    Website    : http://sascha-mander.de
    File       : style.css
*/
h1{
    text-align: center;
}

#wrapper{
    padding-left: 0px !important;
    margin: 20px;
}

#content{
    padding: 0 5%;
}

.highlight {
    background-color: rgb(247, 247, 249);
    border: 1px solid rgb(225, 225, 232);
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}

.dropdown-menu a {
    cursor: pointer;
}

.input-group {
    margin-bottom: 10px;
}